@model MaazMvc.Models.BookModel

<h1>Lets create Booking</h1>

<form asp-controller="Booking" asp-action="Create">
    <input type="text" name="title" />
    <input type="text" name="author"/>
    <input type="submit" />
</form>